.vampires-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table-head {
    box-shadow: inset 0 4px 4px -4px black, inset 0 -4px 4px -4px black;
    color: white;
    background-color: #5cb85c;
}

.table-row {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.table-element {

}

.deleteVampireButton {
    display: inline;
    float: right;
    margin-right: 10px;
}

.vampires-form {
    color: white;
    border: green solid 1px;
    border-radius: 10px;
    width: 500px;
    background-color: #5cb85c;
    padding: 10px;
}

.vampires-form-popup {
    width: 500px;
    position: absolute;
    margin: auto;
}

.errorMessage {
    color: red;
}

.sort-selected {
    color: black;
}